
/*=== General Settings ===*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	cursor: default;
	color: #333;
	text-align: center;
}

a, a:hover, a:visited{
	text-decoration: none;
}

.main-section{
	padding: 40px;
}

.section-header{
	font-size: 19px;
}


/*=== Header ===*/

#header{
	background: url(../img/bg-header.jpg) center center no-repeat / cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	color: #f6f6f6;
	box-shadow: 0px 0px 30px 3px #000;
	position: relative;
	z-index: 3;
}

	.logo{
		color: #f6f6f6;
		font-size: 22px;
		transition: 0.2s;
		margin-top: 20px;
	}

	.logo:hover{
		transform: rotate(-10deg);
	}

		.logo span{
			padding: 3px 6px;
			border: 1px solid #f6f6f6;
			border-radius: 3px;
			margin-right: 3px;
		}

	.offer{
		text-align: center;
		cursor: default;
	}

		.offer h1{
			font-size: 42px;
			margin-bottom: 5px;
		}

		.offer hr{
			display: inline-block;
			width: 100px;
		}

		.offer p{
			font-size: 24px;
			margin-top: 20px;
			line-height: 30px;
		}

	.arrow-down{
		color: #f6f6f6;
		transition: 0.2s;
		font-size: 35px;
		margin-bottom: 5px;
	}

	.arrow-down:hover{
		color: #999;
	}


/*=== About Me ===*/

#about-me{
	background-color: #f1f1f1;
}

	.about-me-text{
		display: inline-block;
		max-width: 870px;
		margin: 20px 0 0 0;
	}


/*=== My Portfolio ===*/

#my-portfolio{
	background: url(../img/bg-my-portfolio.jpg) center center no-repeat / cover;
	color: #f6f6f6;
	position: relative;
	padding-bottom: 40px;
}	

	.www{
		height: 40px;
		width: 100%;
	}

	#my-portfolio .section-header{
		margin-top: 30px;
	}

	.work-boxes{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		margin: 50px 20px 0px 20px;
	}

		.work{
			position: relative;
			max-width: 396px;
			height: 100%;
			transition: 0.2s;
			margin-bottom: 50px;
			border: 2px solid #f6f6f6;
		}

		.work:hover{
			transform: rotate(-10deg);
			box-shadow: 0px 0px 20px 2px white;
		}

			.work img{
				width: 100%;
				height: 100%;
			}

			.wrapper{
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(89,49,124,0);
				color: rgba(0,0,0,0);
				transition: 0.2s;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.wrapper:hover{
				background-color: rgba(89,49,124,0.7);
				color: rgba(255,255,255,1);
			}

				.wrapper h3{
					font-size: 26px;
				}


/*=== Footer ===*/

#footer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #000;
	padding: 25px 40px;
	text-align: left;
}

	.copyright a{
		transition: 0.2s;
		margin-bottom: 10px;
		display: inline-block;
		color: #f6f6f6;
		font-size: 22px;
	}

	.copyright a:hover{
		color: #999;
		font-size: 22px;
		transition: 0.2s;
	}

		.copyright a span{
			padding: 3px 6px;
			border: 1px solid #f6f6f6;
			border-radius: 3px;
			margin-right: 3px;
		}

	.copyright p{
		color: #999;
		font-size: 14px;
	}

	.community a{
		font-size: 24px;
		margin: 0 7px;
		color: white;
		transition: 0.2s;
	}

		.community a:hover{
			color: #59317C;
		}
	


		